<p *ngIf="dataToDisplay.length < 1">
	Sorry, nothing found, set different filters :)
</p>

<section [ngClass]="{ 'hidden': dataToDisplay.length < 1 }">
	<app-table-pagination></app-table-pagination>

	<div class="tableContainer">
		<table>
			<thead>
				<tr>
					<th
						class="sortingHeader"
						rowspan="2"
						(click)="sortData('id')"
					>
						ID
					</th>
					<th
						class="sortingHeader"
						rowspan="2"
						(click)="sortData('name')"
					>
						Name
					</th>
					<th
						class="sortingHeader"
						rowspan="2"
						(click)="sortData('city')"
					>
						City
					</th>
					<th class="incomeHeader" colspan="3">Income</th>
				</tr>
				<tr>
					<th class="sortingHeader" (click)="sortData('totalIncome')">
						Total
					</th>
					<th
						class="sortingHeader"
						(click)="sortData('averageIncome')"
					>
						Average
					</th>
					<th
						class="sortingHeader"
						(click)="sortData('lastMonthIncome')"
					>
						Last month
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let company of dataToDisplay">
					<td>{{ company.id }}</td>
					<td>{{ company.name }}</td>
					<td>{{ company.city }}</td>
					<td>{{ company.totalIncome }}</td>
					<td>{{ company.averageIncome }}</td>
					<td>{{ company.lastMonthIncome }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<app-table-pagination></app-table-pagination>
</section>
