<div
	class="filtersLabel"
	[ngClass]="{ 'expanded': !hideFilterFields }"
	(click)="hideFilterFields = !hideFilterFields"
>
	<span>
		FILTERS <i *ngIf="hideFilterFields" class="fas fa-chevron-down"></i
		><i *ngIf="!hideFilterFields" class="fas fa-chevron-up"></i
	></span>
</div>
<section [ngClass]="{ 'hideForSmallScreen': hideFilterFields }">
	<div>
		<label class="inputGroup">
			<span class="labelText">ID</span>
			<input #id name="id" type="number" (input)="onFilterChange(id)" />
		</label>
		<label class="inputGroup">
			<span class="labelText">Name</span>
			<input
				#name
				name="name"
				type="text"
				(input)="onFilterChange(name)"
			/>
		</label>
		<label class="inputGroup">
			<span class="labelText">City</span>
			<input
				#city
				name="city"
				type="text"
				(input)="onFilterChange(city)"
			/>
		</label>
	</div>
	<div>
		<label class="inputGroup">
			<span class="labelText">Total income</span>
			<form
				ngGroupModel
				#totalIncome="ngForm"
				(input)="onFilterChange(totalIncome, 'totalIncome')"
			>
				<input type="number" name="min" ngModel placeholder="Min" />
				<input type="number" name="max" ngModel placeholder="Max" />
			</form>
		</label>
		<label class="inputGroup">
			<span class="labelText">Average income</span>
			<form
				ngGroupModel
				#averageIncome="ngForm"
				(input)="onFilterChange(averageIncome, 'averageIncome')"
			>
				<input type="number" name="min" ngModel placeholder="Min" />
				<input type="number" name="max" ngModel placeholder="Max" />
			</form>
		</label>
		<label class="inputGroup">
			<span class="labelText">Last month income</span>
			<form
				ngGroupModel
				#lastMonthIncome="ngForm"
				(input)="onFilterChange(lastMonthIncome, 'lastMonthIncome')"
			>
				<input type="number" name="min" ngModel placeholder="Min" />
				<input type="number" name="max" ngModel placeholder="Max" />
			</form>
		</label>
	</div>
</section>
