@import "src/app/shared/sharedStyles";

section {
	@include responsiveContainer;
	box-sizing: border-box;
	border-radius: 0 0 15px 15px;
	padding: 20px 0;
	margin: 0 auto;
	background-color: $themeColour;
}
div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.labelText {
	display: block;
	font-size: 0.85rem;
	margin-bottom: 5px;
}
.inputGroup {
	@include mediumBorder;
	margin: 5px 0;
	padding: 10px;
	width: 80%;
	background-color: $backColour;
}

.filtersLabel {
	color: $backColour;
	font-size: 20px;
	font-weight: 600;
	background-color: $themeColour;
	padding: 5px;
	border-radius: 0 0 15px 15px;
}

.filtersLabel.expanded {
	border-radius: 0;
}

i {
	margin-left: 20px;
}

@media only screen and (max-width: 767px) {
	.hideForSmallScreen {
		display: none;
	}
}
@media only screen and (min-width: 768px) {
	.filtersLabel {
		display: none;
	}
	.inputGroup {
		margin: 10px 0;
		width: 25%;
	}
}

input {
	box-sizing: border-box;
	width: 100%;
}
form input {
	width: 45%;
}
form {
	display: flex;
	justify-content: space-between;
}
