/*$themeColour: #f8b500;
$fontColour: #343434;
$backColour: #cacaca;
$backColour2: #fcfaf1;
$backColour3: #f0eee6;
$inputColour: #fcfaf1;*/

/*$themeColour: #fcbf1e;
$fontColour: #120136;
$backColour: #120136;
$backColour2: #fcfaf1;
$backColour3: #f0eee6;
$inputColour: #fcfaf1;*/

$themeColour: #120136;
$fontColour: #120136;
$backColour: #fcbf1e;
$backColour2: #fcfaf1;
$backColour3: #f0eee6;
$inputColour: #fcfaf1;

@mixin responsiveContainer {
	width: 100%;

	@media only screen and (min-width: 768px) {
		width: 90%;
	}

	@media only screen and (min-width: 992px) {
		width: 80%;
	}

	@media only screen and (min-width: 1200px) {
		width: 70%;
	}

	@media only screen and (min-width: 1600px) {
		width: 60%;
	}
}

@mixin mainBorder {
	border: 5px solid $themeColour;
	border-radius: 15px;
}

@mixin mediumBorder {
	border: 3px solid $themeColour;
	border-radius: 5px;
}
body {
	background-color: $backColour;
}

button,
input {
	background-color: $inputColour;
	font-size: 15px;
	border: 2px solid $themeColour;
}

body,
button,
input {
	font-family: "Montserrat", sans-serif;
	color: $fontColour;
}
